/* CSS Document */

/* Contact */
.mdl-grid {
	max-width: 1010px;
}

	/* Card size */
.mdl-card {
	width: 320px;
	height: 320px;
	margin: auto;
}

	/* GitHub card properties */
.github_big {
	color: #fff;
	background-image: url('/img/github_big.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-color: #000;
	background-position: bottom right;
}

	/* Insta card properties */
.insta_big {
	color: #fff;
	background: url('/img/insta_big.png') no-repeat bottom right, #e1306c;
	background: url('/img/insta_big.png') no-repeat bottom right, linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
	background-size: 60%, auto;
}

	/* LI card properties */
.li_big {
	color: #fff;
	background-image: url('/img/li_big.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-color: #007BB6;
	background-position: bottom right;
}

/* Skype card properties */
.skype_big {
	color: #fff;
	background-image: url('/img/skype_big.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-color: #00AFF2;
	background-position: bottom right;
}

/* Steam card properties */
.steam_big {
	color: #fff;
	background-image: url('/img/steam_big.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-color: #000000;
	background-position: bottom right;
}

/* Twitter card properties */
.twitter_big {
	color: #fff;
	background-image: url('/img/twitter_big.png');
	background-repeat: no-repeat;
	background-size: 60%;
	background-color: #39a0ce;
	background-position: bottom right;
}
